1.3/cifp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="cifp">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="alumne" type="alumne"/>
                <xs:element name="professor" type="professor"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="alumne">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="llinatges" type="xs:string"/>
            <xs:element name="data_naixement" type="xs:string" minOccurs="0"/>
            <xs:element name="correu" type="xs:string" minOccurs="0"/>
            <xs:element name="telefon" type="xs:string" minOccurs="0"/>
            <xs:element name="adreça" type="xs:string" minOccurs="0"/>
            <xs:element name="data_matricula" type="xs:string"/>
            <xs:element name="curs">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DAM"/>
                        <xs:enumeration value="DAW"/>
                        <xs:enumeration value="ASIX"/>
                        <xs:enumeration value="SMX"/>
                        <xs:enumeration value="SEIA"/>
                        <xs:enumeration value="ER"/>
                        <xs:enumeration value="AUT"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="professor">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="llinatges" type="xs:string"/>
            <xs:element name="data_naixement" type="xs:string" minOccurs="0"/>
            <xs:element name="correu" type="xs:string" minOccurs="0"/>
            <xs:element name="telefon" type="xs:string" minOccurs="0"/>
            <xs:element name="adreça" type="xs:string" minOccurs="0"/>
            <xs:element name="data_incorporacio" type="xs:string"/>
            <xs:element name="departament">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Informàtica"/>
                        <xs:enumeration value="Electricitat"/>
                        <xs:enumeration value="Automoció"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="assignatura" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nom_assignatura">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="cicle" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="DAM"/>
                                                    <xs:enumeration value="DAW"/>
                                                    <xs:enumeration value="ASIX"/>
                                                    <xs:enumeration value="SMX"/>
                                                    <xs:enumeration value="SEIA"/>
                                                    <xs:enumeration value="ER"/>
                                                    <xs:enumeration value="AUT"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="data_inici" type="xs:string" minOccurs="0"/>
                        <xs:element name="data_final" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="id_assignatura" type="xs:integer" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
</xs:schema>