1.1/cifp.dtd

<!ELEMENT cifp ((alumne | professor)*)>

<!ELEMENT alumne (nom, llinatges, data_naixement?, correu?, telefon?, adreça?, data_matricula, curs)>
<!ATTLIST alumne id ID #REQUIRED>

<!ELEMENT professor (nom, llinatges, data_naixement?, correu?, telefon?, adreça?, data_incorporacio, departament, assignatura*)>
<!ATTLIST professor id ID #REQUIRED>

<!--Elements  comuns-->
<!ELEMENT nom (#PCDATA)>
<!ELEMENT llinatges (#PCDATA)>
<!ELEMENT data_naixement (#PCDATA)>
<!ELEMENT correu (#PCDATA)>
<!ELEMENT telefon (#PCDATA)>
<!ELEMENT adreça (#PCDATA)>

<!--Element especific dels alumnes-->
<!ELEMENT data_matricula (#PCDATA)>
<!ELEMENT curs EMPTY>
<!ATTLIST curs valor (DAM | DAW | ASIX | SMX | SEIA | ER | AUT) #REQUIRED>

<!--Elements especifics dels professors-->
<!ELEMENT data_incorporacio (#PCDATA)>
<!ELEMENT departament EMPTY>
<!ATTLIST departament valor (Informatica | Electricitat | Automocio) #REQUIRED>
<!ELEMENT assignatura (nom_assignatura, data_inici?, data_final?)>
<!ATTLIST assignatura id_assignatura ID #REQUIRED>
<!ELEMENT nom_assignatura (#PCDATA)>
<!ATTLIST nom_assignatura cicle (DAM | DAW | ASIX | SMX | SEIA | ER | AUT) #REQUIRED>
<!ELEMENT data_inici (#PCDATA)>
<!ELEMENT data_final (#PCDATA)>